<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
    <li><%= link_to item.title + " (Price: $#{item.price.to_f/100})", item_path(item) %><%= button_to "Add to Cart", item_id: item.id %></li>
<% end %>
</ul>